/* Main typography and container */

body {
  background: url('../../assets/images/marvelbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.game-title {
  margin-top: .2rem;
  max-width: 25%;
  margin-bottom: 1rem;
}

.show-and-hide {
  visibility: hidden;
  background: rgba(0,0,0,0.6);
  border-radius: 10px;
}

.fight-section {
  margin-top: .5rem;
}

h3 {
  font-family: "Bangers", cursive;
  letter-spacing: .1em;
  font-size: 19px;
  color: #fff;
}

/* Classes */
.outer-img-container {
  color: #000;
  box-sizing: border-box;
  width: 180px;
  height: 100px;
  background: #939bb0;
  display: inline-block;
  border: 1px solid #000;
  font-weight: bold;
  font-size: 14px;
}

.hero-images {
  border: 4px solid #000;
  height: 94px;
  width: 130px;
  margin-top: -10px;
}

p.character-name {
  margin-bottom: 0px;
  margin-top: 0px;
}

.defender {
  text-align: center;
}

.area1, .area2, .area3, .area4 {
  margin-top: -20px;
}

/* Player Hero */
div.hero {
  background: #000;
  font-size: 14px;
  color: black;
  border: 1px solid #000;
  background-color: #939bb0;
}

/* Villians & HP */
div.enemy {
  color: #000;
  font-size: 14px;
  letter-spacing: .1em;
  border: 1px solid #000;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #DA251C;

}

.health {
  font-family: "Bangers", cursive;
  color: #fff;
  letter-spacing: .1em;
  font-size: 20px;
  text-shadow: #000 0px 0px 20px;
  background: rgba(0,0,0,0.6);
  border-radius: 10px;
}

/* Button Styles */

.attack-button {
  margin-top: 4px;
  margin-bottom: 12px;
}

.restart-button {
  background-color: #3faccd;
}

button {
  background-color: #e71e24;
  color: #fff !important;
}

div button#btn1:hover, div button#btn2:hover {
  font-weight: bold;
}

/* Media Queries */

@media screen and (max-width: 480px) {

  .game-title {
    margin-top: 1rem;
    max-width: 50%;
    margin-bottom: 1rem;
  }
}
